<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <label for="todoText">Todo </label>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="todoText" class="form-control" [(ngModel)]="todoText">
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="onAddTodoText()">Add</button>
        </div>
      </div>
    </div>


    <hr> {{todoText}}
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let todo of todoList">{{todo}}</li>
    </ul>
  </div>
</div>